 .table-enlarged-back.active{
     width: 100%;
     height: 100vh;
     position: fixed;
     transition: .1s;
     top: 0px;
     left: 0px;
     visibility: visible;
     z-index: 88;
     background-color: rgba(0, 0, 0, 0.5);
 }
 .table-enlarged-back{
    transition: .1s;
    width: 100%;
     height: 100vh;
     position: fixed;
     visibility: hidden;
     top: 0px;
     left: 0px;
     z-index: 88;
     background-color: rgba(0, 0, 0, 0.5);
 }
 .income img{
    transition: .3s;
 }
.income img.active{
    position: fixed;
    z-index: 99;
    transition: .3s;
}